:root {
  --main-color: #2196f3;
  --main-color-opacity: rgba(33, 150, 243, 0.9);
  --primary-color: #ffffff;
  --secondary-color: #757575;
  --tertiary-color: #000000;
  --add-font: "Raleway";
}
body {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #212121;
}

/* Header */
.header-wrapper {
  display: flex;
  align-items: center;
  justify-items: center;
  width: 100%;
  height: 80px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: calc(10% / 3);
  border-bottom: 1px solid #ececec;
}
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.top {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: calc(10% / 3); */
}

.top-categories {
  padding: 0;
  /* width: 100%; */
  display: flex;
  /* justify-content: flex-start; */
  /* flex-grow: 1; */
  gap: 46px;
}
.top-contact {
  /* width: 100%; */
  display: inline-flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 50px;
  padding-left: 0;
}
.icon {
  display: inline-block;
  margin-right: 10px;
}

.top-contact a {
  fill: var(--secondary-color);
}

.top-contact a:hover,
.top-contact a:focus {
  fill: var(--main-color);
  color: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.us-none {
  list-style-type: none;
}
.link {
  text-decoration: none;
  color: var(--tertiary-color);
  position: relative;
}
.link:hover,
.link:focus {
  color: var(--main-color);
  /* fill: var(--main-color); */
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active::after {
  position: absolute;
  content: "";
  text-decoration: underline;
  border-radius: 2px;
  background-color: var(--main-color);
  height: 4px;
  width: 53px;
  left: 0;
  bottom: -33px;
}

.blue {
  color: var(--main-color);
}
.logo {
  font-family: var(--add-font);
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-top {
  color: var(--tertiary-color);
  align-items: baseline;
  margin-right: 93px;
}
.logo-top:hover,
.logo-top:focus,
.logo-top:visited {
  color: var(--tertiary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-header {
  line-height: 1.14em;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
}

/* Sekcja main - slider */
.slider {
  display: flex;
  box-sizing: border-box;
  max-width: 1600px;
  height: 600px;
  justify-content: center;
  /* background-color: #2f303a; */
  background: #2f303a66;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/slider-photo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  flex-direction: column;
  /* flex-wrap: nowrap; */
}
.slider-text {
  display: flex;
  width: 696px;
  margin: 0 auto;
  flex-wrap: wrap;
  /* padding-top: 200px; */
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.26em;
  color: var(--primary-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.slider button {
  /* margin-bottom: 210px; */
  margin-left: auto;
  margin-right: auto;
}
.button-fp {
  border-color: var(--main-color);
  background-color: var(--main-color);
  width: 200px;
  font-weight: 700;
  font-size: 16px;
  color: var(--primary-color);
  line-height: 1.87em;
  height: 50px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  align-items: center;
}

/* Sekcja main - box categories */
.section {
  width: 100%;
  align-content: center;
  margin: 0 auto;
  flex-wrap: wrap;
  padding-bottom: 94px;
  display: flex;
  gap: calc(10% / 3);
  justify-content: center;
}
.box-info {
  display: flex;
  /* flex-wrap: nowrap; */
  /* flex-direction: row; */
  width: 100%;
  justify-content: center;
  gap: 30px;
  padding: 0;
  /* flex-shrink: 0.1; */
  margin-top: 94px;
}
.box-info p {
  max-width: 270px;
}
.icon-info {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
  gap: 30px;
  flex-shrink: 0.1;
  margin-bottom: 0;
}
li > img {
  vertical-align: top;
}
.image-services {
  position: relative;
}
.text-services {
  position: absolute;
  color: var(--primary-color);
  background: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  bottom: 0;
  margin: 0;
  text-transform: uppercase;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  padding-block: 27px;
}
.services {
  display: flex;
  align-items: flex-start;
}
.head-first {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.23em;
  letter-spacing: 0.03em;
}
.text-grey {
  line-height: 1.71em;
}
.section h2 {
  text-align: center;
  margin-top: 0;
}

.box-gray {
  background-color: #f5f4fa;
  max-width: 100%;
  padding-top: 94px;
  margin: 0 auto;
  flex-direction: column;
  box-shadow: -600px 0 #f5f4fa, -300px 0 #f5f4fa, -100px 0 #f5f4fa,
    600px 0 #f5f4fa, 300px 0 #f5f4fa, 100px 0 #f5f4fa;
}
.box-gray ul {
  margin: 0 auto;
}
.box-gray li {
  background-color: var(--primary-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.head-second {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
}
.office {
  font-size: 16px;
  line-height: 1.18em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.sm-box {
  display: flex;
  /* flex-direction: row; */
  /* flex-wrap: nowrap; */
  justify-content: space-around;
  align-items: center;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}
.sm-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 0;
  fill: #afb1b8;
  justify-content: center;
  align-items: center;
}
.sm-icon:hover,
.sm-icon:focus {
  background-color: var(--main-color);
  border-radius: 50%;
  fill: var(--primary-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients {
  padding-top: 94px;
}
.client-box {
  display: flex;
  justify-content: space-around;
}

.client-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}
.client-icon:hover,
.client-icon:focus {
  fill: var(--main-color);
  border-color: var(--main-color);
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: var(--primary-color);
  font-style: normal;
}
.footer-wrapper {
  align-items: center;
  width: 100%;
  display: flex;
  justify-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #2f303a;
}
.sm-footer p {
  margin-left: 70px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  line-height: 1.14em;
  margin-bottom: 20px;
  color: var(--primary-color);
}
.f-sm-box {
  margin-left: 70px;
  gap: 10px;
}
.f-sm-icon {
  background-color: rgba(255 255 255 / 0.1);
  fill: var(--primary-color);
}
.footer {
  padding-block: 60px;
  display: flex;
}
.footer ul {
  padding: 0;
}
.footer li {
  margin-bottom: 0.5em;
}
.contact-footer {
  line-height: 1.5em;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  text-decoration: none;
}

.logo-footer {
  color: var(--primary-color);
}

.logo-footer:hover,
.logo-footer:focus,
.logo-footer:visited {
  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio */
.filter {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  border: none;
  line-height: 1.62em;
  cursor: pointer;
  padding-inline: 22px;
  padding-block: 6px;
  border-radius: 4px;
}
.filter:hover,
.filter:focus {
  background-color: var(--main-color);
  color: var(--primary-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2em;
  letter-spacing: 0.06em;
}
.project-description {
  font-size: 16px;
  line-height: 1.87em;
}
.product {
  font-size: 16px;
  line-height: 1.87em;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.box-filter {
  padding-top: 94px;
  padding-bottom: 0;
  gap: 8px;
}
.box-project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box-project > div {
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.box-project h4 {
  padding-inline: 24px;
  margin-top: 20px;
  margin-bottom: 0;
}

.box-project p {
  padding-inline: 24px;
  margin-top: 0;
  margin-bottom: 20px;
}

.box-project-shadow:focus,
.box-project-shadow:hover {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.box-project-shadow {
  position: relative;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.overlay-text {
  font-size: 18px;
  letter-spacing: 0.03em;
  line-height: 1.55;
  height: 100%;
  padding-block: 49px;
  overflow: hidden;
  color: var(--primary-color);
  transform: translateY(100%);
}
.box-project-shadow:hover .overlay-text {
  background-color: var(--main-color-opacity);
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter:focus,
.filter:hover {
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Form window */
.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: backgroud-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}
.modal {
  margin: auto;
  height: 581px;
  width: 528px;
  border-radius: 4px;
  background-color: var(--primary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  position: relative;
}
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  border-width: 0px;
  border-style: none;
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.close-btn:hover {
  transform: scale(1.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  /* opacity: 0; */
  /* visibility: hidden; */
  /* pointer-events: none; */
  transform: scale(0);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* form in pop-up window */
.form-title {
  position: absolute;
  width: 448px;
  left: 43px;
  top: 43px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-popup {
  margin-top: 70px;
  max-width: 100%;
  margin-inline: 20px;
}

.fieldset-popup {
  position: relative;
  margin-block: 28px;
  width: 448px;
  height: 40px;
}
.comment {
  width: 448px;
  height: 120px;
  border: 0;
}
.input-comment {
  width: 448px;
  height: 120px;
  border: 0;
}
.form-popup label {
  position: absolute;
  top: -17px;
  left: 0px;
  font-size: 12px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
}
.form-popup input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  font-size: 15px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  width: 100%;
  height: 100%;
  padding-left: 36px;
}

.form-popup textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  position: absolute;
  top: 12px;
  left: 16px;
}

.form-popup svg {
  position: absolute;
  top: 13px;
}

.fieldset-popup svg {
  left: 15px;
}

.form-popup label.check-policy {
  position: absolute;
  top: 415px;
  left: 50px;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;
}
.check-policy a {
  color: var(--main-color);
}

.comment textarea {
  border: 1px solid;
  border-color: rgba(33, 33, 33, 0.2);
  border-radius: 1%;
  padding-inline: 16px;
  padding-block: 12px;
}

.comment textarea:focus-within {
  padding-inline: 16px;
  padding-block: 12px;
}

.fieldset-popup input:focus + svg {
  fill: var(--main-color);
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.fieldset-popup input:focus {
  border-color: var(--main-color);
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus {
  border-color: var(--main-color);
  transition: border-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-popup input:focus,
.comment textarea:focus {
  outline: 0;
  caret-color: var(--tertiary-color);
  color: var(--tertiary-color);
  font-size: 16px;
  line-height: 1.14em;
  letter-spacing: 0.01em;
  height: 100%;
  width: 100%;
}

.popup-checkbox {
  visibility: hidden;
}

.popup-checkbox:checked + span svg {
  background-color: var(--main-color);
  border: 0;
}

.form-popup svg.icon-checkbox {
  margin-right: 0px;
  fill: #ffffff;
  background: #ffffff;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  position: relative;
  top: 2px;
  transition: border 250ms, fill 250ms, background-color 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-popup {
  position: absolute;
  width: 200px;
  height: 50px;
  top: 490px;
}

/* Newsletter form */

.btn-newsletter {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  padding-inline: 35px;
  left: 453px;
  top: 47px;
}
.newsletter {
  position: relative;
  max-width: 570px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 0;
  padding: 0;
  padding-left: 78px;
}
.newsletter label {
  /* position: absolute; */
  padding: 0;
  padding-top: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-color);
}

.newsletter input {
  position: absolute;
  top: 47px;
  display: flex;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
}

input::placeholder {
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.newsletter input,
.newsletter textarea {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}
.newsletter textarea:focus,
.newsletter input:focus {
  color: rgba(255, 255, 255, 0.6);
}
